/*source: https://fkhadra.github.io/react-toastify/how-to-style */
:root {
  /* Font */
  --toastify-font-family: PlusJakartaSans, sans-serif;

  /* Text Color */
  --toastify-text-color-light: #ffffff;

  /* Background */
  --toastify-color-light: #2cc995;
  --toastify-color-dark: #333333;
  --toastify-color-info: #3b74f7;
  --toastify-color-success: #2cc995;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #dd3f7d;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);
}

/** Used to define the position of the ToastContainer **/
.Toastify__toast-container--top-left {
}
.Toastify__toast-container--top-center {
}
.Toastify__toast-container--top-right {
  top: 120px;
  right: 40px;
}
.Toastify__toast-container--bottom-left {
}
.Toastify__toast-container--bottom-center {
}
.Toastify__toast-container--bottom-right {
}

.Toastify__toast {
  border-radius: 0.5rem;
  padding-bottom: 12px;
}

.Toastify__toast-icon {
  width: 40px;
  margin-inline-end: 16px;
  margin-inline-start: 2px;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    padding: 4px;
  }
}
